**Nandini Bajaj_18CY20020
Assignment 2**

Calculate pairwise interaction potential energy as a function of distance r, width dr for 3 interactions

In [45]:
def eval1(ri,rf,dr,sig,eps):
  lam=2
  list1=[]
  x=[]
  y=[]
  for r in np.arange(ri,rf,dr):
    if r<sig:
      V=2
    elif r<(lam*sig) and r>=sig:
      V=-eps
    else:
      V=0
    list1.append([r,V])
    x.append(r)
    y.append(V)
  return (x,y,list1)

In [46]:
def eval2(ri,rf,dr,sig,eps,neu):
  list1=[]
  x=[]
  y=[]
  for r in np.arange(ri,rf,dr):
    a=eps*(sig**neu)
    V=a*(r**-neu)
    list1.append([r,V])
    x.append(r)
    y.append(V)
  return (x,y,list1)

In [47]:
def eval3(ri,rf,dr,sig,eps):
  list1=[]
  x=[]
  y=[]
  for r in np.arange(ri,rf,dr):
    V=4*eps*(((sig/r)**12)-((sig/r)**6))
    list1.append([r,V])
    x.append(r)
    y.append(V)
  return (x,y,list1)

In [48]:
import numpy as np
import pandas as pd

opt = int(input("Which interactions result is wanted:"))
ri=float(input("Enter the value of r initial:"))
rf=float(input("Enter the value of r final:"))
dr=float(input("Enter the value of dr:"))
sig=float(input("Enter the value of sigma:"))
eps=float(input("Enter the value of epsilon:"))

if opt==1:
  x1,y1,sqwell=eval1(ri,rf,dr,sig,eps)
if opt==2:
  x2,y2,softsphere1=eval2(ri,rf,dr,sig,eps,1)
  x3,y3,softsphere2=eval2(ri,rf,dr,sig,eps,10)
if opt==3:
  x4,y4,lj=eval3(ri,rf,dr,sig,eps)

Enter the value of r initial:3
Enter the value of r final:15
Enter the value of dr:0.5
Enter the value of sigma:3.4
Enter the value of epsilon:1

In [58]:
pd.DataFrame(sqwell)

       0    1
0    3.0  2.0
1    3.5 -1.0
2    4.0 -1.0
3    4.5 -1.0
4    5.0 -1.0
5    5.5 -1.0
6    6.0 -1.0
7    6.5 -1.0
8    7.0  0.0
9    7.5  0.0
10   8.0  0.0
11   8.5  0.0
12   9.0  0.0
13   9.5  0.0
14  10.0  0.0
15  10.5  0.0
16  11.0  0.0
17  11.5  0.0
18  12.0  0.0
19  12.5  0.0
20  13.0  0.0
21  13.5  0.0
22  14.0  0.0
23  14.5  0.0

In [59]:
pd.DataFrame(softsphere1)

       0         1
0    3.0  1.133333
1    3.5  0.971429
2    4.0  0.850000
3    4.5  0.755556
4    5.0  0.680000
5    5.5  0.618182
6    6.0  0.566667
7    6.5  0.523077
8    7.0  0.485714
9    7.5  0.453333
10   8.0  0.425000
11   8.5  0.400000
12   9.0  0.377778
13   9.5  0.357895
14  10.0  0.340000
15  10.5  0.323810
16  11.0  0.309091
17  11.5  0.295652
18  12.0  0.283333
19  12.5  0.272000
20  13.0  0.261538
21  13.5  0.251852
22  14.0  0.242857
23  14.5  0.234483

In [60]:
pd.DataFrame(softsphere2)

       0             1
0    3.0  3.496042e+00
1    3.5  7.483568e-01
2    4.0  1.968744e-01
3    4.5  6.062671e-02
4    5.0  2.113923e-02
5    5.5  8.150088e-03
6    6.0  3.414103e-03
7    6.5  1.533401e-03
8    7.0  7.308172e-04
9    7.5  3.665866e-04
10   8.0  1.922602e-04
11   8.5  1.048576e-04
12   9.0  5.920578e-05
13   9.5  3.447888e-05
14  10.0  2.064378e-05
15  10.5  1.267349e-05
16  11.0  7.959070e-06
17  11.5  5.102826e-06
18  12.0  3.334085e-06
19  12.5  2.216609e-06
20  13.0  1.497461e-06
21  13.5  1.026719e-06
22  14.0  7.136887e-07
23  14.5  5.024689e-07

In [61]:
pd.DataFrame(lj)

       0         1
0    3.0  9.485593
1    3.5 -0.536621
2    4.0 -0.939631
3    4.5 -0.605708
4    5.0 -0.356371
5    5.5 -0.210774
6    6.0 -0.128057
7    6.5 -0.080254
8    7.0 -0.051833
9    7.5 -0.034418
10   8.0 -0.023433
11   8.5 -0.016317
12   9.0 -0.011593
13   9.5 -0.008388
14  10.0 -0.006170
15  10.5 -0.004606
16  11.0 -0.003485
17  11.5 -0.002670
18  12.0 -0.002068
19  12.5 -0.001619
20  13.0 -0.001280
21  13.5 -0.001021
22  14.0 -0.000820
23  14.5 -0.000665